<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tableau App Picker</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
<div class="container">
<div class="form-group">
<h2>Tableau Account Picker</h2>
<label>Select account:</label>
<form action="/account/changer/" method="POST">
<input type="hidden" name="uid" value="{{uid}}"/>
<select class="form-control" name="appid" size="{{appids|length}}">
{% for appid in appids %}
<option value="{{appid}}">{{appid}}</option>
{% endfor %}
</select>
<input type="submit" value="Submit" class="btn btn-default"/>
</form>
</div>
</div>
</body>
</html>
