<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSDP</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="/static/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">-->
</head>
<body>
<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Self Service Data Platfrom</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="http://ec2-52-27-2-41.us-west-2.compute.amazonaws.com:8890">Presto Query Engine</a></li>
                <li class="active"><a href="#">Hive Scheduled Query</a></li>
                <li><a href="/list">Hive Query Histories</a></li>
                <li><a href="http://ec2-52-27-2-41.us-west-2.compute.amazonaws.com:8888" target="_blank">HUE</a></li>
            </ul>
        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container" style="margin-top:80px;">
    <form action="/submit/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="js-input-sql">Hive SQL</label>
            <textarea name="input-sql" class="form-control" rows="6" cols="70" id="js-input-sql"
                      placeholder="SELECT col1,col2,col3 FROM table_name WHERE col1='condition';"></textarea>
            <!--<input type="text" class="form-control" id="js-input-sql" placeholder="SQL, please end with ;">-->
        </div>
        <div class="form-group">
            <label for="js-input-database">Database</label>
            <select id="js-input-database" name="input-database">
                <option value="farm_1_1">farm_1_1</option>
            </select>
        </div>
        <!--<div class="form-group">-->
        <!--<label for="dtp_input1">DateTime Picking</label>-->

        <!--<div class="input-group date form_datetime col-md-5" data-date="1979-09-16T05:25:07Z"-->
        <!--data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">-->
        <!--<input class="form-control" size="16" type="text" value="" readonly>-->
        <!--<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>-->
        <!--<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>-->
        <!--</div>-->
        <!--<input type="hidden" id="dtp_input1" value=""/><br/>-->
        <!--</div>-->
        <div class="form-group">
            <label for="js-input-save-days">Save Days</label>
            <select id="js-input-save-days" name="input-save-days">
                <option value="1">1</option>
                <option value="3">3</option>
                <option value="7">7</option>
                <option value="15">15</option>
            </select>
        </div>
        <div class="form-group">
            <label for="js-input-email">Notify Email</label>
            <input type="email" name="input-email" class="form-control" id="js-input-email"
                   placeholder="name1@funplus.com,name2@funplus.com">
        </div>
        {% if message == "" %}
        {% else %}
        <p style="color:red">{{message}}</p>
        {% endif %}
        <!--<div class="checkbox">-->
        <!--<label>-->
        <!--<input type="checkbox"> Check me out-->
        <!--</label>-->
        <!--</div>-->
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <h3>Query History</h3>
    <table class="table table-striped table-bordered">
        <tr>
            <th>DB Name</th>
            <th>Query</th>
            <th>Query Status</th>
            <th>Temp Table Name</th>
            <th>Save Days</th>
            <th>User Email</th>
            <th>Execute Duration</th>
            <th width="10%">Submit Time</th>
        </tr>
        {% for q in queries %}
        {% if q.save_days != 0 %}
        <tr>
            <td>{{q.db_name}}</td>
            <td>{{q.query}}</td>
            {% if q.query_status == 0 %}
            <td>submitted</td>
            {% elif q.query_status == 1 %}
            <td style="color:green">running</td>
            {% elif q.query_status == 2 %}
            <td style="color:green">completed</td>
            {% else %}
            <td style="color:red">failed</td>
            {% endif %}
            <td>{{q.temp_table}}</td>
            <td>{{q.save_days}}</td>
            <td>{{q.email}}</td>
            <td>{{q.exec_duration}}s</td>
            <td width="10%">{{q.submit_ts}}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

</div>

<script type="text/javascript" src="/static/js/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="/static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>-->
<!--<script type="text/javascript"-->
<!--src="/static/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>-->

</body>
</html>