<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSDP</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Self Service Data Platfrom</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="http://ec2-52-27-2-41.us-west-2.compute.amazonaws.com:8890">Presto Query Engine</a></li>
                <li><a href="/index">Hive Scheduled Query</a></li>
                <li class="active"><a href="/list">Hive Query Histories</a></li>
                <li><a href="http://ec2-52-27-2-41.us-west-2.compute.amazonaws.com:8888" target="_blank">HUE</a></li>
            </ul>
        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container" style="margin-top:80px;">
<table class="table table-striped table-bordered">
    <tr>
        <th>DB Name</th>
        <th>Query</th>
        <th>Query Status</th>
        <th>Temp Table Name</th>
        <th>Save Days</th>
        <th>User Email</th>
        <th>Execute Duration</th>
        <th width="10%">Submit Time</th>
    </tr>
    {% for q in queries %}
    <tr>
        <td>{{q.db_name}}</td>
        <td>{{q.query}}</td>
        {% if q.query_status == 0 %}
        <td>submitted</td>
        {% elif q.query_status == 1 %}
        <td style="color:green">running</td>
        {% elif q.query_status == 2 %}
        <td style="color:green">completed</td>
        {% else %}
        <td style="color:red">failed</td>
        {% endif %}
        <td>{{q.temp_table}}</td>
        <td>{{q.save_days}}</td>
        <td>{{q.email}}</td>
        <td>{{q.exec_duration}}s</td>
        <td width="10%">{{q.submit_ts}}</td>
    </tr>
    {% endfor %}
</table>
</div>

<script type="text/javascript" src="/static/js/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript"
        src="/static/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

</body>
</html>