{% extends "bootstrap/base.html" %}
{% block title %}Funplus{% endblock %}
{% block head %}
    {{ super() }}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-78250672-1', 'auto');
      ga('send', 'pageview');
    </script>
    <head>
        <style>
            .navbar{
                z-index: 99;
            }
        </style>
    </head>
{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!--<li><a href="{{ url_for('main.index') }}">Extract</a></li>
                <li><a href="{{ url_for('main.pivot') }}">Visualize</a></li>-->
                <li><a href="{{ url_for('main.compare') }}">SQL</a></li>
                <li><a href="{{ url_for('main.chronicle') }}">Chronicle</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
             {% if current_user.is_authenticated %}
                <li><a href="#">{{ current_user.id }}</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.signin') }}">Sign in</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="/static/knockout-3.2.0.js"></script>
    <script type="text/javascript" src="/static/jquery.tablesorter.min.js"></script>
    <link rel="stylesheet" href="/static/blue/style.css" type="text/css" media="print, projection, screen" />
    <link rel="stylesheet" href="/static/c3/c3.css" />
    <script type="text/javascript" src="/static/c3/d3.min.js"></script>
    <script type="text/javascript" src="/static/c3/c3.min.js"></script>
    <script src="/static/jquery-ui/jquery-ui.min.js"></script>
    <script src="/static/vue.min.js"></script>
    <!--<script type="text/javascript" src='/static/bower_components/jquery/dist/jquery.min.js'></script>-->
    <link rel="stylesheet" href="/static/bootstrap-select/bootstrap-select.min.css" />
    <script src="/static/bootstrap-select/bootstrap-select.min.js"></script>
    <!--<script src="/static/html.sortable.min.js"></script>
    <link rel="stylesheet" href="/static/basscss.css" />-->
    <script src="/static/pivotjs/pivot.min.js"></script>
    <script src="/static/pivotjs/c3_renderers.min.js"></script>
    <link rel="stylesheet" href="/static/pivotjs/pivot.min.css" />
    <link href="/static/nvd3/nv.d3.css" rel="stylesheet" type="text/css">
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>-->
    <script src="/static/nvd3/nv.d3.js"></script>
    
    <script src="/static/bower_components/fullpage.js/jquery.fullPage.min.js"></script>
    <script src="/static/bower_components/fullpage.js/vendors/jquery.slimscroll.min.js"></script>
    <link rel="stylesheet" href="/static/bower_components/fullpage.js/jquery.fullPage.css"></script>
    <script type="text/javascript" src="/static/bower_components/plotly.js/dist/plotly.min.js"></script>
    <script type="text/javascript" src='/static/bower_components/lodash/dist/lodash.min.js'></script>
    <script type="text/javascript" src='/static/bower_components/jquery-ui/jquery-ui.min.js'></script>
    <link rel="stylesheet" href="/static/bower_components/gridstack/dist/gridstack.min.css" />
    <script type="text/javascript" src='/static/bower_components/gridstack/dist/gridstack.min.js'></script>
    <script type="text/javascript" src="/static/datepicker/js/bootstrap-datepicker.js"></script>
    <link rel="stylesheet" href="/static/datepicker/css/datepicker3.css" />
    <script type="text/javascript" src='/static/bower_components/selectize/dist/js/standalone/selectize.min.js'></script>
    <link rel="stylesheet" href="/static/bower_components/selectize/dist/css/selectize.bootstrap3.css" />
    <script>
        Vue.config.delimiters = ['[[', ']]']
    </script>
{% endblock %}
