{% extends "base.html" %}
{% from "_formhelpers.html" import render_field, render_error %}
{% block page_content %}
<div class="col-md-12">
	<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">KPI</a></li>
    <li role="presentation"><a href="#game" aria-controls="game" role="tab" data-toggle="tab">Game</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
    	<div class="grid-stack">
		</div>
    </div>
    <div role="tabpanel" class="tab-pane" id="game">
    	<div class="grid-stack">
		</div>
	</div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New anno</h4>
      </div>
      <div class="modal-body">
        <div><b>App</b> <span id="anno_app"></span></div>
        <div><b>OS</b> <span id="anno_os"></span></div>
        <div><b>Country</b> <span id="anno_country"></span></div>
        <div><b>Comment</b> <span id="anno_comment"></span></div>
        <div><b>Link</b> <span id="anno_link"></span></div>
      </div>
    </div>
  </div>
</div>
	<button id="gridConfig" class="btn">Save Layout</button>
</div>
<div class="col-md-4">
	<!--<div class="form-style-10">
	<h1>New record</h1>
	<form method="POST" action="{{ url_for('main.chronicle') }}">
	    <div class="section"><span>1</span>Details</div>
	    <div class="inner-wrap">
	        <label>App <input type="text" name="product" /></label>
	        <label>Event <input type="text" name="event" /></label>
	        <label>Start date <input type="text" name="startdate" /></label>
	        <label>Duration (days) <input type="text" name="duration" /></label>
	        <label>Comment <textarea name="comment" rows="4"/></textarea></label>
	        <label>Link <input type="text" name="link" /></label>
	    </div>
	    <div class="button-section">
	     <input type="submit" name="Submit" value="Submit"/>
	    </div>
	</form>
	</div>-->
	<form method=post action="{{ url_for('main.chronicle') }}">
	  <dl>
	  	<dt>App</dt>
	  	<dd><select id="app" name="app" multiple placeholder="Pick app(s)"></select></dd>
	  	<dt>Event</dt>
	  	<dd><select id="event" name="event" multiple placeholder="Pick event(s)"></select></dd>
	  	<dt>OS</dt>
	  	<dd><select id="os" name="os" placeholder="Optional"></select></dd>
	  	<dt>Countries</dt>
	  	<dd><select id="country_code" name="country_code" multiple placeholder="Optional" width="100%"></select></dd>
	    {{ render_field(form.sd) }}
	    {{ render_field(form.dur) }}
	    {{ render_field(form.comment) }}
	    {{ render_field(form.url) }}
	  </dl>
	  <p><input type=submit value=Add>
	</form>
</div>
<div class="col-md-7">
	<h4> Latest annotations</h4>
	{{ latest_annos | safe }}
	<form id="exportform" action="{{ url_for('main.chronicle') }}" method="POST">
           <input id="exportcsv" type="hidden" name="action">
    </form>
	<button id="exportBtn" class="btn">Export</button>
	<form id="exportChartData" action="{{ url_for('main.chronicle') }}" method="POST">
           <input id="exportchartaction" type="hidden" name="action">
           <textarea id="chartdatahidden" style="display:none;" name="chartdata"></textarea>
    </form>
</div>
<!--
<div class="col-md-8">
	<div id="timeline">
	<ul class="timeline">
	<template v-repeat="row:rows">
		<li>
			<div class="direction-r">
				<div class="flag-wrapper">
					<span class="flag">[[ row.product ]]</span>
					<span class="time-wrapper"><span class="time">[[ row.start_date ]]</span></span>
				</div>
				<div class="crumbs">[[ row.event ]] >> [[ row.subevent ]]</div>
				<div class="desc">[[ row.description ]]</div>
			</div>
		</li>
	</template>
</ul>
</div>
</div>-->
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src='/static/plotly_helpers.js'></script>
    <!--<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>-->
    <link href="/static/customform.css" rel="stylesheet" type="text/css">
    <script>
    var charts = $.parseJSON('{{ objs | safe }}');
    var dropdownOpts = $.parseJSON('{{ dropdown_opts | safe }}');
    var annoObjs = $.parseJSON('{{ anno_objs | safe }}');
    var gameid = '{{ gameid | safe }}'
    var chartConfigs = $.parseJSON('{{ chart_configs | safe }}');
    //console.log(annoObjs);
    console.log(charts.length);
    console.log(dropdownOpts);

    var selectizeObjs = {}

    var $selectCountry = $('#country_code').selectize({
    	plugins: ['remove_button'],
    	valueField: 'country_code',
		labelField: 'country_name',
		searchField: 'country_name',
		options: dropdownOpts['country']
    });
    selectizeObjs['country_code'] = $selectCountry[0].selectize;

    var $selectOs = selectize('#os', dropdownOpts['os']);
    selectizeObjs['os'] = $selectOs[0].selectize;

    //var apps = ['ffs.global.prod', 'ffs.tango.prod'];
    var $selectApp = selectize('#app', dropdownOpts['app']);
    selectizeObjs['app'] = $selectApp[0].selectize;
    //var selectizeControl = selectApp[0].selectize;
    //var events = ['rev', 'dau']

    var $eventSelectize = $('#event').selectize({
    	plugins: ['remove_button'],
    	valueField: 'name',
		labelField: 'name',
		searchField: 'name',
    	options: dropdownOpts['event'],
    	create: function(input) {
	        return {
	            name: input
	        }
    	}
    })

    selectizeObjs['event'] = $eventSelectize[0].selectize;
    //selectize('#event', );

    $('#sd').datepicker({
    				format: "yyyy/mm/dd",
                    todayBtn: "linked"
                });

    $(function () {

	    var options = {
	        cellHeight: 200,
	        verticalMargin: 5,
	        resizable: {
	        	handles: 'sw, se'
	        }
	    };


	    $('.grid-stack').each(function(index) {
	    	console.log('grid #', index);
	    	var self = $(this);
	    	self.gridstack(options);
		    var grid = self.data('gridstack');
			grid.removeAll();
		
	    //initialize grid
		    for (var chart_num=0; chart_num<charts.length; chart_num++) {
		    	chart_data = charts[chart_num]
		    	console.log(chart_data);
		    	var gridPos = chart_data['grid']
		    	var chartid = chart_data['chartid']
		    	console.log('this grid:', chartid);
		    	console.log(gridPos);
		    	tabid = chart_data['tab']
		    	//console.log(gridPos);
		    	if (index==tabid){
			    	grid.addWidget($('<div><div class="grid-stack-item-content"><div class="plotlyChartid" style="text-align:center">'+chartid+'</div></div><a class="glyphicon glyphicon-pencil" aria-hidden="true" href="{{ url_for('main.viewchart') }}'+gameid+'/'+chartid+'"></a><a class="remove glyphicon glyphicon-remove" aria-hidden="true" href="#"></a><a class="exportchart glyphicon glyphicon-arrow-down" data-chartnum='+chart_num+' aria-hidden="true" href="#"></a><div id="plotlyChart'+chart_num+'" style="width: 90%; height: 90%; margin: 0 auto;"></div></div></div>'), gridPos.x, gridPos.y, gridPos.width, gridPos.height);
			    }
		    }

		    //draw charts
		    for (var chart_num=0; chart_num<charts.length; chart_num++) {
		    	chart_data = charts[chart_num]
		    	tabid = chart_data['tab']
		    	chartid = charts[chart_num]['chartid']
		    	if (index==tabid){
		    		$.post('{{ url_for("main.chronicle_ajax_load_chart") }}', {'data': JSON.stringify(chartConfigs[chartid]), 'gameid': gameid, 'chart_num': chart_num}).done(function(response){
		    			parsed_response = $.parseJSON(response);
		    			chartnum = parsed_response[0];
		    			ajax_chart_data = parsed_response[1];
						console.log(chartnum);		    			
		    			console.log(ajax_chart_data);
		    			plotly_chart(ajax_chart_data, 'plotlyChart'+chartnum);
		    			//plotly_chart(ajax_chart_data, 'plotlyChart'+chart_num);
					    var chartDiv = document.getElementById('plotlyChart'+chartnum);
		    		});
			    	//plotly_chart(chart_data, 'plotlyChart'+chart_num);
			    	//var chartDiv = document.getElementById('plotlyChart'+chart_num);
			    	//Plotly.Plots.resize(chartDiv);
			    }
			}

			$('.anno_link').click(function(e){
				e.preventDefault();
				//var self = $(this);
				//$('#exampleModal').modal('show');
				//alert(self.data('comment'));
			});

		});
	});

	window.onresize = function() {
		for (var chart_num=0; chart_num<charts.length; chart_num++) {
			var chartDiv = document.getElementById('plotlyChart'+chart_num);
			Plotly.Plots.resize(chartDiv);}
	};

	$('#exportBtn').click(function(){
		$('#exportcsv').val('export');
        $('#exportform').submit(); 
	})

	//have to write it like this for some reason...otherwise grid removal won't work
	$('body').on('click', 'a.remove', function(e){
		console.log('Removing grid!')
	    e.preventDefault();
	    var grid = $('.grid-stack').data('gridstack');
	    var el = $(this).closest('.grid-stack-item');
	    grid.removeWidget(el);
	});

	$('body').on('click', 'a.exportchart', function(e){
		console.log('Exporting chart data!')
	    e.preventDefault();
	    console.log($(this).data('chartnum'));
	    $('#chartdatahidden').val(JSON.stringify(charts[$(this).data('chartnum')]));
	    $('#exportchartaction').val('export');
	    $('#exportChartData').submit();
	})
		
	$('.nav-tabs').click(function(){
		console.log('clicked!');
		for (var chart_num=0; chart_num<charts.length; chart_num++) {
			var chartDiv = document.getElementById('plotlyChart'+chart_num);
			Plotly.Plots.resize(chartDiv);}
	});

	$('.editAnno').click(function(e){
		e.preventDefault();
		var ix = $('.editAnno').index(this);
		console.log(annoObjs[ix]);
		var dropdownCols = ['app', 'event', 'os', 'country_code']
		//update dropdown boxes that use selectize (clear first then fill in values)
		$.each(dropdownCols, function(i, col){
			selectizeObjs[col].clear();
			if (col in annoObjs[ix]) {
				$.each(annoObjs[ix][col], function(j, value) {
					selectizeObjs[col].addItem(value);
				});
			}
		});
		var otherColObj = {'date': 'sd', 'duration': 'dur', 'comment': 'comment', 'link': 'url'}
		Object.keys(otherColObj).forEach(function (key) { 
			 if (key in annoObjs[ix]) {
			 	var curVal = annoObjs[ix][key]
			 	if (key == 'date') {
			 		curVal = curVal.replace(/-/g, '/')
			 	}
			 	$('#'+otherColObj[key]).val(curVal);
			 }
		});
	})

	$('.delAnno').click(function(e){
		e.preventDefault();
		var ix = $('.delAnno').index(this);
		$.post('{{ url_for("main.chronicle") }}', {'data': annoObjs[ix]['anno_id'], 'action': 'delete_anno'}).done(function(response){
    			alert(response);
    			window.location.reload();
    		}); 
	})

	//save grid
	$('#gridConfig').click(function(){
		var retObj = {}
		//$('.grid-stack > .grid-stack-item:visible')
		$('.grid-stack > .grid-stack-item').each(function(ix){
			chartid = $(this).find('.plotlyChartid').text();
			var node = $(this).data('_gridstack_node');
			retObj[chartid] = {
		                            x: node.x,
		                            y: node.y,
		                            width: node.width,
		                            height: node.height
		                        }
		})

		console.log('latest grid:');
		console.log(retObj);
	
		$.post('{{ url_for("main.saveGrid") }}', {'data': JSON.stringify(retObj), 'gameid': gameid}).done(function(response){
    			var resp = $.parseJSON(response);
    			if (resp) 
    				{alert('Success!');}
    			else 
    				{alert('Save failed!');}
    		}); 
	});

	//modal related
	$('#exampleModal').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget) // Button that triggered the modal
		// Extract info from data-* attributes
		// If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
		// Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
		var modal = $(this)
		var link = button.data('link');
		console.log('link', link, link.length);
		modal.find('#exampleModalLabel').text(button.data('event')+": "+button.data('sd')+" ("+button.data('duration')+ " days)")
		//modal.find('.modal-title').text('New message to ' + recipient)
		$.each(['app', 'comment', 'os', 'country'], function(ix, v){
			modal.find('#anno_'+v).text(button.data(v))
		if (link && link.startsWith('http')) {
			modal.find('#anno_link').html("<a href='"+link+"'>"+link+"</a>")
		}
		else {
			modal.find('#anno_link').html("");
		}		
		});
		
	});

	</script>
{% endblock %}